NextBiggerNumberKata/NextBiggerNumberKata/obj/
NextBiggerNumberKata/NextBiggerNumberKata/bin/
NextBiggerNumberKata/.vs/NextBiggerNumberKata/v15/.suo
NextBiggerNumberKata/.vs/NextBiggerNumberKata/v14/.suo
